* {
    box-sizing: border-box;
    margin: 0 auto;
}

.bd-btn-group > select {
    margin: 0;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 5px 5px var(--primary-dark), 
                0 -5px 5px var(--primary-light);
}

.bd-btn-group > select ~ button {
    border-left: none;
    box-shadow: 0 5px 5px var(--primary-dark), 
                0 -5px 5px var(--primary-light);
}

.bd-header {
    padding: 0 12%;
    margin: 0;
    width: 100%;
    border-radius: 0;
}

.bd-header-navigator {
    align-items: inherit;
    height: 100%;
    border: none;
}


.bd-header-item {
    display: block;
    padding: 8px;
}

.bd-header-item:hover {
    background-color: var(--primary-dark);
}

.bd-header-item:active {
    box-shadow: 5px 5px 5px inset var(--primary-dark), 
                5px -5px 5px inset var(--primary-light);
}

.bd-btn-selected {
    background-color: var(--primary-dark);
}

.bd-pattern {
    font-size: 14px;
}

.bd-hr {
    margin: 0 20px 10px 20px;
    padding: 0;
    width: calc(100% - 40px);
}